.navbar-dark {
  background-color: #1f2937 !important;
}

.carrito {
  margin-right: 5px;
}

.logSinDiv {
  margin-left: 5px;
  width: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  color: white;

  span:hover {
    cursor: pointer;
  }
}
