<div class="container md">
  <span class="display-6">
    Bienvenido: <i class="bi bi-chevron-double-left"></i>
    <strong>{{ usuario }}</strong
    ><i class="bi bi-chevron-double-right"></i
  ></span>
  <div class="card mt-10">
    <div class="card-body bg-blue-500 text-white">
      <span class="display-4"> Mis ordenes</span>
    </div>
    <div
      class="card-body mt-3 d-flex justify-content-center"
      *ngIf="ordenes.length === 0"
    >
      Sin ordenes por el momento <i class="bi bi-emoji-smile"></i>
    </div>
  </div>

  <div class="card" *ngFor="let item of ordenes">
    <div class="card-body mt-3" *ngIf="ordenes.length">
      Fecha: {{ item.fecha.toDate() | date: "dd. LLLL yyyy" }},
      <strong>Total pagado: {{ item.total }}</strong>
    </div>
  </div>
</div>
